@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'node_modules/locomotive-scroll/dist/locomotive-scroll';

@layer base {
    :root {
        --swiper-pagination-color: rgb(202 138 4 / 1);
        --swiper-pagination-bullet-size: .75rem;
    }

    [x-cloak] {
        display: none;
    }

    input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
}

.bg-pattern-1 {
    background-image: url('@images/pattern-1.jpg');
}

.swiper {
    visibility: hidden;
}

.swiper.swiper-initialized {
    visibility: visible;
}
